
# Standard Project.ignore by sevenX ->

#----------------------------
# ignore Project files
#----------------------------
# Folders
!.gitkeep
# Files
xampp.json
.env

#----------------------------
# ignore Application files
#----------------------------
# IDE Project Files -> PHPSTORM
*.iml
.idea/

# ATOM FTP configuration
deployment-config.json

# LESS/CSS Compiler
prepros.cfg

# Dreamweaver Notes
_notes
_mmServerScripts

# Windows Thumbnail
Thumbs.db

# Mac DS Store
.DS_Store

